@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TIYA PRODUCTION</h1>
    <h2>GENG GENG</h2>
</div>
<div>
    <img src="/img/download.jfif" style="position: relative; left: 250px;">
        
</div>
