@{
    ViewData["Title"] = "Navos Page";
}

<div class="row">
    <div class="col-6">
        <img src="~/img/stick.png">
    </div>
    <div class="col-6 text-center" style="margin-top: 15%">
        <p class="display-4">
            I am Dominic C. Navos
        </p>
    </div>
</div>